<footer class="footer">
  <div>
    <div>
      <h2>
        {{ title() | uppercase }}
      </h2>

      <p>
        {{ message() | lowercase }}
      </p>
    </div>

    <div>
      <div>
        <span>
          Fecha
        </span>

        <p>
          {{ today() | date:'fullDate' }}
        </p>
      </div>

      <div>
        <span>
          Total
        </span>

        <p>
          {{ price() | currency }}
        </p>
      </div>

      <div>
        <span>
          Progreso
        </span>

        <p>
          {{ percent() | percent }}
        </p>
      </div>
    </div>
  </div>
</footer>