<footer class="footer">

    <div class="footer-glow"></div>

    <div class="footer-top">

        <h2>{{ title() | uppercase }}</h2>

        <span class="badge">ANGULAR 20</span>

    </div>

    <p class="message">
        {{ message() | lowercase }}
    </p>

    <div class="footer-info">

        <div class="card">
            <span class="label">📅 Fecha</span>
            <p>{{ today() | date:'fullDate' }}</p>
        </div>

        <div class="card">
            <span class="label">💰 Total</span>
            <p>{{ price() | currency }}</p>
        </div>

        <div class="card">
            <span class="label">📈 Progreso</span>
            <p>{{ percent() | percent }}</p>
        </div>

    </div>

    <div class="footer-socials">

        <button>🔥 GitHub</button>
        <button>⚡ LinkedIn</button>
        <button>🚀 Portfolio</button>

    </div>

    <div class="footer-bottom">

        <p>© 2026 Todos los derechos reservados</p>

        <p class="mini">
            Diseñado con Angular + Signals
        </p>

    </div>

</footer>